option_settings:
  aws:elasticbeanstalk:environment:process:python:
    WSGIPath: recoleccion.wsgi:application  # The WSGI path for your Django application
  aws:elasticbeanstalk:environment:process:default:
    ExecutablePath: "gunicorn recoleccion.wsgi:application -w 4 -b 0.0.0.0:8000"  # The command to start your Django application
