files:
    "/root/.ssh/config":
        owner: root
        group: root
        mode: "000600"
        content: |
            Host github.com
                User git
                Hostname github.com
                IdentityFile /root/.ssh/github

commands:
    01-command:
        command: sudo ssh-keyscan -H github.com >> /root/.ssh/known_hosts
    02-command:
        command: sudo chmod 644 /root/.ssh/known_hosts
    03-command:
        command: sudo aws s3 cp s3://elasticbeanstalk-sa-east-1-106531801387/.github/id_ed25519 ~/.ssh
    04-command:
        command: sudo chmod 600 /root/.ssh/github

container_commands:
    01_pip_install:
        command: "pip install -r requirements.txt -r extra.txt"
    02_migrate:
        command: "python manage.py migrate informacion zero"