container_commands:
    00_create_virtualenv:
        command: python3 -m venv venv
        test: '[ ! -d "venv" ]'
    01_activate_virtualenv:
        command: source venv/bin/activate
    02_pip_install_base:
        command: pip install -r requirements/base.txt
    03_pip_install_extra:
        command: pip install -r requirements/extra.txt
    04_migrate:
        command: python manage.py migrate