option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /.well-known/pki-validation: static/certificate
    /static: static

container_commands:
  01_collectstatic: 
    command: | 
    CONTAINER_NAME=$(docker ps --format "{{.Names}}" | grep "django")
    docker exec --user root -it $CONTAINER_NAME bash -c "python manage.py collectstatic --noinput"
    mkdir /etc/nginx/conf.d/elasticbeanstalk
    PATH_TO_SCRIPT="/etc/nginx/conf.d/elasticbeanstalk/location.conf"
    echo "location /.well-known/pki-validation/ { alias /var/app/current/static/certificate; }" > $PATH_TO_SCRIPT
    service nginx reload
